* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

p,
h1,
h2,
h3,
a {
    padding: 0;
    margin: 0;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
}
h1,
h2,
h4{
    font-family: 'Courier New', Courier, monospace;
}
.espaço {
    height: 40px;
}

.logo {
    width: 60vw;
    padding-left: 80px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
}

.navbar {
    position: relative;
    width: 40vw;
    display: flex;
    gap: 70px;
    justify-content: end;
    padding-right: 80px;
}

.navbar a {
    position: relative;
    border: 1px solid #f4f4f4;
    padding: 8px;
    border-radius: 12px;

}

nav {
    display: flex;
    width: 100vw;
    height: 40px;
    align-items: center;
    position: fixed;
    background:white;
    z-index: 99;
}

.navbar a::after {
    content: " ";
    background:chocolate;
    position: absolute;
    height: 2px;
    left: 1px;
    bottom: 7px;
}

.navbar a:hover,
.navbar a:hover::after {
    width: 60px;
    border: none;
    
}
.home {
    position: relative;
    padding: 10px 80px 0 80px;
    display: grid;
    grid-template-columns: 550px 2fr;
    margin-bottom: 100px;
}
.home h1{
    margin-bottom: 20px;
}
.home p{
    line-height: 1.4 ;
    margin-bottom: 10px;
}
.home::after{
    position: absolute;
    content: " ";
    width: 2px;
    height: 100%;
    left: 10px;
    bottom: 2px;
    background: maroon;
}
.home img{
    display: block;
    margin-left: 60px;
    margin-bottom: 20px;
}
.sobre{
    position: relative;
    padding: 10px 80px 0 80px;
}
.sobre h2{
    margin-bottom: 20px;
}
.sobre p{
    line-height: 1.4 ;
    margin-bottom: 10px;
}
.sobre::after{
    position: absolute;
    content: " ";
    width: 2px;
    height: 100%;
    left: 10px;
    bottom: 2px;
    background: maroon;
}
.cubo{
    width: 800px;
}
.sobre h4{
    font-size:medium;
    font-size: 20px;
    padding-bottom: 20px;
}
.especial{
    font-size: large;

}
.tela2{
    display: grid;
    grid-template-columns: 800px 400px;
    align-items: end;
}
.contato{
    border: 2px solid chocolate;
    padding: 20px;
    border-radius: 20px;
    height: 140px;
    margin-bottom: 50px;
}
.contato a{
    color:chocolate;
}
.footer {
    margin-top: 20px;
    display: flex;
    width: 100vw;
    height: 15vh;
    background: white;
    color: chocolate;
    justify-content: center;
    align-items: center;
}

.footer a {
    color: chocolate;
    position: relative;
}
.footer a::after{
    content: " ";
    position: absolute;
    background: chocolate;
    height: 2px;
    right: -13px;
    bottom: -5px;
}
.footer a:hover::after{
    width: 105%;
}